[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[alias]
  b = branch
  ba = branch -a
  ci = commit
  ciav = commit -a -v
  civ = commit -v
  co = checkout
  co-stash = checkout stash@{0} --
  di = diff -w
  dic = diff -w --cached
  dir = diff # raw, no -w
  log-my = log --author=mkrauskopf
  log1 = log --oneline
  log10 = log --oneline -10
  log10a = log --oneline --pretty=format:'%h | %an | %s' -10
  log1a = log --oneline --pretty=format:'%h | %an | %s'
  log1d = log --pretty=format:'%h | %ad | %s [%an]' --date=short
  logday = log --since='1 day ago'
  logn = log --name-status
  logp = log -p
  logp-my = log -p --author=mkrauskopf
  logpr = log -p --reverse
  logs = log --stat

  # See http://blog.kfish.org/2010/04/git-lola.html
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lolaa =  log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset %s\" --abbrev-commit --all

  revert-last = reset --soft HEAD^
  show-stash = stash show stash@{0} -p
  show-stash-1 = stash show stash@{1} -p
  shown = show --name-status
  showno = show --name-only --oneline
  sl = stash list
  sp = stash pop
  ss = stash save
  st = status
  unstage = reset HEAD --

[user]
  name = Martin Krauskopf
  email = martin.krauskopf@gmail.com

[push]
  default = current

[colors]
  ui = auto

[merge]
  tool = vimdiff

[core]
  editor = vim
  # .cvsignore is used also by other utilities like rsync
  # Inspired by https://github.com/tpope/vim-pathogen (see FAQ section)
  excludesfile = ~/.cvsignore

[credential]
  # Set the cache to timeout after 1 hour (setting is in seconds). This options
  # is useful only for HTTPS.
  # See: https://help.github.com/articles/set-up-git#password-caching
  helper = cache --timeout=3600

